# .circleci/config.yml
version: 2.1
orbs:
  node: circleci/node@5.0.3
jobs:
  node:
    working_directory: ~/CardsPal-react-native
    docker:
      - image: cimg/node:16.14.0

    steps:
      - checkout

      - restore_cache:
          key: npm-v1-{{ checksum "package-lock.json" }}-{{ arch }}

      - restore_cache:
          key: node-v1-{{ checksum "package.json" }}-{{ arch }}

      - run: node --version
      - run: npm install
      - run: ls

      - save_cache:
          key: npm-v1-{{ checksum "package-lock.json" }}-{{ arch }}
          paths:
            - ~/.cache/yarn

      - save_cache:
          key: node-v1-{{ checksum "package.json" }}-{{ arch }}
          paths:
            - node_modules

      # - run:
      #     name: jest tests
      #     command: |
      #       mkdir -p store-artifacts/jest
      #       yarn run test
      #     environment:
      #       JEST_JUNIT_OUTPUT: store-artifacts/jest/junit.xml

      - persist_to_workspace:
          root: ~/CardsPal-react-native
          paths:
            - node_modules

      - store_artifacts:
          path: store-artifacts

      # - store_artifacts:
      #     path: /tmp/artifact-1
      #     destination: artifact-file

      # - store_artifacts:
      #     path: /tmp/artifacts



  macos-build:
    working_directory: ~/CardsPal-react-native
    macos:
      xcode: 13.4.1
    parameters: # parameters are at the job level
      ENV:
        type: string
        default: dev1
    environment:
      FL_OUTPUT_DIR: output
      FASTLANE_LANE: distribute
      #ENV: parameters.ENV

      #ENV: dev

    steps:
      - checkout
      - node/install:
          node-version: "16.14.0"
      - run: node --version
      - run: ls
      # - restore_cache:
      #     key: npm-v1-{{ checksum "package-lock.json" }}-{{ arch }}

      # - restore_cache:
      #     key: node-v1-{{ checksum "package.json" }}-{{ arch }}

      - run: ls
      - run: sudo npm install -g npm@latest
      - node/install-packages:
          cache-path: ~/CardsPal-react-native/node_modules
          override-ci-command: npm install
      #- run: npm config set legacy-peer-deps true
      # - run: npm install
      - run: ls

      # - save_cache:
      #     key: npm-v1-{{ checksum "package-lock.json" }}-{{ arch }}
      #     paths:
      #       - ~/.cache/npm

      # - save_cache:
      #     key: node-v1-{{ checksum "package.json" }}-{{ arch }}
      #     paths:
      #       - node_modules

      - restore_cache:
          key: bundle-v1-{{ checksum "ios/Gemfile.lock" }}-{{ arch }}

      #Pods directory is ignored to match default RN setup, but can also check them into source control
      #https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
      - restore_cache:
          key: pods-v1-{{ checksum "ios/Podfile.lock" }}-{{ arch }}

      - run: 
          command: pod install
          working_directory: ios
      - run: 
          name: export env
          working_directory: ios
          command: echo 'export ENV=<< parameters.ENV  >>' >> "$BASH_ENV"
      - run: 
          name: current env
          working_directory: ios
          command: echo ${ENV}
      - run: 
          name: envfile
          working_directory: ios
          command: echo ".env.${ENV}" > /tmp/envfile
      - run: 
          name: current envfile
          working_directory: ios
          command: cat /tmp/envfile
      - run: 
          command: bundle install
          working_directory: ios

      - save_cache:
          key: bundle-v1-{{ checksum "ios/Gemfile.lock" }}-{{ arch }}
          paths:
            - vendor/bundle

      - save_cache:
          key: pods-v1-{{ checksum "ios/Podfile.lock" }}-{{ arch }}
          paths:
            - ios/Pods

      # - run:
      #     name: Fastlane
      #     command: bundle exec fastlane $FASTLANE_LANE
      #     working_directory: ios

      # - run:
      #     name: location
      #     command: pwd

      # - run:
      #     name: list
      #     command: ls ios/output/

      # - persist_to_workspace:
      #     root: ~/CardsPal-react-native
      #     paths:
      #       - ios/Pods

      # # - store_artifacts:
      # #     path: ios/output/CardsPal.ipa
      # #     #destination: artifact-file

      # # - store_artifacts:
      # #     path: ios/output/CardsPal.ipa
      # #     destination: artifact-file

      
      # # - store_artifacts:
      # #     path: ios/output/CardsPal.ipa


workflows:
  react-native-ios-deploy:
    jobs:
      # - node:
      #     filters:
      #         branches:
      #           only: circleCI-test
      # - node:
      #     filters:
      #         branches:
      #           only: master

      # - macos-build:
      #     ENV: 'prod'
      #     filters:
      #       branches:
      #         only: circleCI-test
      #     requires:
      #       - node
      - macos-build:
          ENV: 'prod'
          filters:
            tags:
              only: /^V.*/
          # requires:
          #   - node
